<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>All Videos</title>
</head>
<body>

<h2>All Videos</h2>

<div>
  <ul>
    <th:block th:each="video : ${videos}">
      <li>
        <h3 th:text="${video.title}"></h3>
        <p th:text="${video.description}"></p>

<!--        &lt;!&ndash; Corrected Thumbnail URL &ndash;&gt;-->
<!--        <img th:src="${video.thumbnailUrl}" alt="thumbnail not found">-->

        <!-- Corrected Video Source URL -->
        <video controls th:poster="${video.thumbnailUrl}">
          <source th:src="${video.videoUrl}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
      </li>
    </th:block>
  </ul>
</div>

</body>
</html>
